extends layout
block content
  section.content.dashboard
    .page-heading
      h1 PRODUCTION STATUS
    .page-body
      // Infobox
      .row.clearfix
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .info-box.infobox-type-5.hover-expand-effect
            .icon
              i.material-icons supervisor_account
            .content
              .text WORKERS
              .number
                | 460 
                span.font-12.col-primary
                  i.material-icons(style='vertical-align:middle;') arrow_drop_up
                  | 5
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .info-box.infobox-type-5.hover-expand-effect
            .icon
              i.material-icons equalizer
            .content
              .text DAILY META
              .number
                | 12 400 
                span.font-12 AVG. 13 000
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .info-box.infobox-type-5.hover-expand-effect
            .icon
              i.material-icons shopping_cart
            .content
              .text ACTUAL PRODUCTION
              .number
                | 8 750 
                span.font-12.col-danger
                  i.material-icons(style='vertical-align: middle;') arrow_drop_down
                  | -3 730
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .info-box.infobox-type-5.hover-expand-effect
            .icon
              i.material-icons assignment
            .content
              .text #1 PRODUCTION
              .number
                | 2 250 
                span.font-12 LINE# 2
      // #END# Infobox
      // Main Graph
      .main-graph
        .row.clearfix
          .col-xs-12.col-sm-6.col-md-8.col-lg-10.padding-0.overflow-hidden
            .graph-area
              #line_chart
          .col-xs-12.col-sm-6.col-md-4.col-lg-2
            .stats-area.overflow-hidden
              .total
                span.col-success 270 525
                small Total Task
              .stats 90 225
              span(data-type='bar', data-sparkline='true') 3,4,3,7,12,9,9,5,8,8,8,12,14,20,16,14,20,12,10,14,8,4,4,5
              p Total Cut
              .stats 90 300
              span(data-type='bar', data-sparkline='true') 3,4,3,7,12,9,9,5,8,8,8,12,14,20,16,14,20,12,10,14,8,4,4,5
              p Total Sew
              .stats 80 250
              span(data-type='bar', data-sparkline='true') 3,4,3,7,12,9,9,5,8,8,8,12,14,20,16,14,20,12,10,14,8,4,4,5
              p Total Iron
      // #END# Main Graph
      // Task List
      .panel.panel-default
        .panel-heading TASK LIST
        .panel-body
          .table-responsive
            table.table.js-exportable
              thead
                tr
                  th #
                  th Buyer
                  th Style
                  th PO
                  th Ship Date
                  th Color
                  th Quantity
                  th Priority
                  th Balance
                  th Process
                  th CutDate
                  th EndDate
                  th Complete
              tbody
                - for(var i = 0; i < orders.length; i++){
                  - if(orders[i].priorityname == 'Completed' || orders[i].priorityname == 'Completed'){
                    - continue;
                  - }
                  tr
                    td #{i}
                    td #{orders[i].buyername}
                    td #{orders[i].style}
                    td #{orders[i].po}
                    td #{orders[i].shipdate}
                    td #{orders[i].colorname}
                    td #{orders[i].quantity}                    
                    td
                      - if((new Date(orders[i].shipdate).getTime() - new Date().getTime()) < 60*60*24*1000*10){
                        i.fa.fa-circle.m-r-5.col-danger 
                        | High
                      - }else{
                        i.fa.fa-circle.m-r-5.col-success 
                        | Normal
                      - }
                    - if(Number(orders[i].cutquantity)-Number(orders[i].quantity) < 0){
                        td(style='color: red;') #{Number(orders[i].cutquantity)-Number(orders[i].quantity)}
                    - }else{
                        td #{Number(orders[i].cutquantity)-Number(orders[i].quantity)}
                    - }
                    
                    - if(orders[i]['cut'] != undefined){
                        td Cut
                    - }else{
                        td
                    - }
                    - if(orders[i]['cutdate'] != undefined){
                        td #{orders[i].cutdate}
                    - }else{
                        td
                    - }
                    td
                    td  #{parseFloat(Number(orders[i].cutquantity)/Number(orders[i].quantity) * 100).toFixed(2)}%

                - }
        // #END# Task List
block script
  <!-- Peity Js -->
  script(src='/assets/plugins/peity/jquery.peity.js')
  script(src='/assets/plugins/iCheck/icheck.js')
  script(src='/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js')
  // Flot Chart Js
  script(src='/assets/plugins/flot/jquery.flot.js')
  script(src='/assets/plugins/flot-spline/js/jquery.flot.spline.js')
  script(src='/assets/plugins/flot/jquery.flot.pie.js')
  script(src='/assets/plugins/flot/jquery.flot.categories.js')
  script(src='/assets/plugins/flot/jquery.flot.time.js')

  script(src='/assets/js/pages/dashboard/dashboard.js')