extends ../layout
block content
  section.content.dashboard
    .panel.panel-default
      .panel-heading #{__("Create New Customer")}
      .panel-body
        .row.clearfix
          // User Image
          .col-xs-12.col-sm-12.col-md-4.col-lg-3
            .panel.panel-default
              .panel-heading #{__("CUSTOMER IMAGE")}
              .panel-body
                .align-center
                  img.img-circle.m-b-10.preview(src='/assets/images/avatars/face2.jpg', height='100', width='100', alt='User Avatar')
                  .font-15.font-bold
                  button.btn.btn-sm.btn-default.m-t-25(onclick="$('#imgInp').click();")
                    i.fa.fa-upload.font-15.m-r-5
                    | #{__("Upload New Image")}
          .col-xs-12.col-sm-12.col-md-8.col-lg-8
            form.form-horizontal.profile-form(action='/dashboard/customer/add' method="post" enctype="multipart/form-data")
              input#imgInp.hide.inputprofileimagefile(type="file", name='profileimage')
              .form-group
                label.col-sm-2.control-label #{__("Customer Name")}
                .col-sm-10.pr-0.pl-0
                  input.form-control.name(type='text', name='name', value='', required='')
              .form-group
                label.col-sm-2.control-label #{__("Type")}
                select.type-bar.col-sm-10.customertype(name='type', required='')
                  - for (var i = 0; i < type.length; ++i) {
                      option(value='#{type[i].id}') #{type[i].name}
                  - }
                  - if(type.length == 0){
                      option(value='-1') Not Selected
                  - }
              .form-group
                label.col-sm-2.control-label #{__("Address")}
                .col-sm-10.pr-0.pl-0
                  textarea.form-control.no-resize.address(name='address', cols='30', rows='2', required='')
              .form-group
                label.col-sm-2.control-label #{__("Contact")}
                .col-sm-10.pr-0.pl-0
                  input.form-control.contact(type='text', name='contact', value='', required='')
              .form-group
                label.col-sm-2.control-label #{__("Email")}
                .col-sm-10.pr-0.pl-0
                  input.form-control.email(type='email', name='email', value='', required='')
              .form-group
                label.col-sm-2.control-label #{__("Phone")}
                .col-sm-10.pr-0.pl-0
                  input.form-control.phone(type='text', name='phone', value='', required='')
              .form-group
                label.col-sm-2.control-label #{__("Status")}
                select.status-bar.col-sm-10.status(name='status', required='')
                  option(value='1') Active
                  option(value='0') Inactive
              .form-group
                button.btn.btn-sm.btn-success.pull-right(type='submit') #{__("Add Customer")}
            
block script
  script.
    $(document).ready(function(){
      $('.type-bar').select2();
      $('.status-bar').select2();
    })

    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          $('.preview').attr('src', e.target.result);
        } 
        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#imgInp").change(function(){
      readURL(this);
    });

    $('.profile-form').submit(function(e){    
    })