extends ./layout
block page-header
  .page-heading
    h1 Material In
    ol.breadcrumb
      li
        a(href='/dashboard') Home
      li
        a(href='javascript:void(0);') Material IN
      
    
block page-body
  .panel.panel-default
    .panel-body
      h4 Order List
      table.table.table-bordered.table-striped.table-hover.js-basic-example.order-table.dataTable
        thead
          tr
            th Date
            th Handler
            th File#
            th Buyer
            th Style
            th Product
            th Season
            th Quantity
        tbody

  .panel.panel-default.material-panel
    .row.clearfix
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        ul.nav.nav-tabs.bg-default
        .tab-content
          #tab_.tab-pane.fade.in.active(role='tabpanel')
            - for(var ppp = 0; ppp < role.length; ppp++){
              - if(role[ppp].page == 3 && role[ppp].w == 1){
                  .panel.panel-default.add-material(style='display:none;')
                    .panel-heading Add Material In
                    .panel-body
                      form.add-form
                        .form-group.clearfix.col-md-2
                          label.display-block Task PO
                          select.task-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Color
                          select.add-color-bar.add-color-name(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Size
                          select.size-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Order Q'ty
                          input.form-control.order-number(type='text', placeholder='Order Number', readonly)
                        .form-group.clearfix.col-md-2
                          label.display-block Loss(5%)
                          input.form-control.order-loss(type='text', placeholder='Total', readonly)
                        .form-group.clearfix.col-md-2
                          label.display-block Need
                          input.form-control.need(type='text', placeholder='Need')
                        .form-group.clearfix.col-md-2
                          label.display-block Rcvd#
                          input.form-control.rcvd(type='text', placeholder='rcvd')                  
                        .form-group.clearfix.col-md-2
                          label.display-block Date
                          input.form-control.in-date-2(type='text', placeholder='In Date', data-format='YYYY-MM-DD')
                        .form-group.clearfix.col-md-2
                          label.display-block Customer
                          select.customer-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                            - for(var i = 0; i < allcustomers.length; i++){
                              option(value = '#{allcustomers[i].id}') #{allcustomers[i].name}
                            - }
                        .form-group.clearfix.col-md-2
                          label.display-block Invoice
                          input.form-control.invoice(type='text', placeholder='Invoice')
                        .form-group.clearfix.col-md-2
                          label.display-block Quantity
                          input.form-control.quantity(type='text', placeholder='Quantity', required='')
                        .form-group.clearfix.col-md-2
                          label.display-block Description
                          input.form-control.note(type='text', placeholder='Description')
                        .form-group.clearfix.col-md-12
                          .btn.btn-sm.btn-success.pull-right.btn-add Add Material
                  
                  .panel.panel-default.update-material(style='display: none;')
                    .panel-heading Update Material In
                    .panel-body
                      form.update-form
                        input(type = 'hidden').old-po
                        input(type = 'hidden').old-rcvd
                        input(type = 'hidden').old-size
                        .form-group.clearfix.col-md-2
                          label.display-block Task PO
                          select.update-task-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Color
                          select.update-color-bar.update-color-name(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Size
                          select.update-size-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                        .form-group.clearfix.col-md-2
                          label.display-block Order Q'ty
                          input.form-control.update-order-number(type='text', placeholder='Order Number', readonly)
                        .form-group.clearfix.col-md-2
                          label.display-block Loss(5%)
                          input.form-control.update-loss(type='text', placeholder='Total', readonly)
                        .form-group.clearfix.col-md-2
                          label.display-block Need
                          input.form-control.update-need(type='text', placeholder='Need')
                        .form-group.clearfix.col-md-2
                          label.display-block Rcvd#
                          input.form-control.update-rcvd(type='text', placeholder='rcvd')
                        .form-group.clearfix.col-md-2
                          label.display-block Date
                          input.form-control.update-in-date-2(type='text', placeholder='In Date', data-format='YYYY-MM-DD')
                        .form-group.clearfix.col-md-2
                          label.display-block Customer
                          select.update-customer-bar.select2(style='width: 100%;')
                            option(value='-1') Not Selected
                            - for(var i = 0; i < allcustomers.length; i++){
                              option(value = '#{allcustomers[i].id}') #{allcustomers[i].name}
                            - }
                        .form-group.clearfix.col-md-2
                          label.display-block Invoice
                          input.form-control.update-invoice(type='text', placeholder='Invoice')
                        .form-group.clearfix.col-md-2
                          label.display-block Quantity
                          input.form-control.update-quantity(type='text', placeholder='Quantity')
                        .form-group.clearfix.col-md-2
                          label.display-block Note
                          input.form-control.update-note(type='text', placeholder='Note')
                        .form-group.clearfix.col-md-12
                          .btn.btn-sm.btn-success.pull-right.update-button Update Material In
                          - for(var ppp = 0; ppp < role.length; ppp++){
                            - if(role[ppp].page == 3 && role[ppp].w == 1){
                                .btn.btn-sm.btn-success.pull-right.remove(style='margin-right: 20px;') Remove Material In
                            - }
                          - }
                     
              - }
            - }
            .panel.panel-default(style='display:none;')
              - for(var ppp = 0; ppp < role.length; ppp++){
                - if(role[ppp].page == 3 && role[ppp].w == 1){
                    .panel-heading
                
                      button.btn.btn-sm.btn-success.new-button
                        i.fa.fa-plus.m-r-5
                        | Add New In
                - }
              - }
                
              .panel-body
                table.table.table-striped.table-hover.material-table
                  thead
                    tr
                      th P.O
                      th Color
                      th Size
                      th Rcvd#
                      th Orden
                      th Loss
                      th Need
                      th Date
                      th Customer
                      th Invoice#
                      th Q'ty
                      th Note
                  tbody
                               
block script2
  script.
    $('.search-form').submit(function(e){
      e.preventDefault();
      var startdate = $('.in-date').val().split('-')[0];
      var enddate = $('.in-date').val().split('-')[1];

      $.ajax({
        url: '/dashboard/material/search',
        type: 'POST',
        data: {
          buyer: $('.buyer').val(),
          startdate: startdate,
          enddate: enddate,
          material_type: $('.material-type').val(),
          material: $('.material').val(),
          color: $('.color').val(),
          po: $('.po').val(),
          style: $('.style').val()
        },
        success: function(result){
          if(result.isSuccess){
            fillOrderTable(result.list);
          }else{
            alert('Cannot search.');
          }
        }
      })
    })
        
    var allcustomers = (!{JSON.stringify(allcustomers)});
    $('.add-material').on('click', 'a.panel-close', function () {
      $(this).parents('.add-material').fadeOut();
    });
    $('.update-material').on('click', 'a.panel-close', function () {
      $(this).parents('.update-material').fadeOut();
    });
    $('.new-button').on('click', function(){
      $('.add-material').fadeIn();
      $('.update-material').fadeOut();
    })
    $('.add-material').hide();
    $('.update-material').hide();
    $('.material-panel').hide();

    $('.order-table').DataTable({
      "pageLength": 25,
      responsive: true
    });

    $('.material-table').DataTable({
      "pageLength": 100,
      responsive: true,
      dom: '<"html5buttons"B>lTfgtip',
      buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
    });
    
    var fillOrderTable = function(list){      
      var tableData = [];
      for(let i = 0; i < list.length; i++){
        tableData.push([
          list[i].date.split('T')[0], list[i].handlername, list[i].name, list[i].buyername, list[i].style, list[i].product, list[i].season, list[i].quantity
        ])
      }
      $('.order-table').dataTable().fnClearTable();
      if(tableData.length > 0){
        $('.order-table').dataTable().fnAddData(tableData);
        $('.order-table').dataTable().fnDraw();
      }
      refreshEvent();
    }

    var ordername, buyer;
    var refreshEvent = function(){
      $('.order-table tbody tr').off();
      $('.order-table tbody tr').on('click', function(){
        ordername = $($(this).find('td')[2]).html();        
        buyer =  $($(this).find('td')[3]).html();                
        style = $($(this).find('td')[4]).html();
        $.ajax({
          url: '/dashboard/material/order_material',
          type: 'POST',
          data: {
            name: ordername,
            buyer: buyer
          },
          success: function(data){
            if(data.isSuccess){
              var ht = '';
              for(var i = 0; i < data.product.length; i++){
                for(var j = 0; j < data.material.length; j++){
                  if(data.material[j].id == data.product[i]){
                    ht += '<li role="presentation">';
                    ht += '<a href = "#tab_'+'", data-toggle="tab", data-product="'+data.product[i]+'", data-buyer="'+buyer+'" class="tab_'+i+'">'+data.material[j].name+'</a>';
                    ht += '</li>';                    
                  }
                }
              }
              for(var i = 0; i < data.finish.length; i++){
                for(var j = 0; j < data.material.length; j++){
                  if(data.material[j].id == data.finish[i]){
                    ht += '<li role="presentation">';
                    ht += '<a href = "#tab_'+'", data-toggle="tab", data-finish="'+data.finish[i]+'", data-buyer="'+buyer+'">'+data.material[j].name+'</a>';
                    ht += '</li>';
                  }
                }
              }
              $('.nav-tabs').html(ht);
              refreshTabEvent();
            }else{
              alert('Cannot load Material Headers');
            }
          }
        })
      })
    }

    //Add, Update Form
    $('.task-bar').select2();
    $('.update-task-bar').select2();
    $('.size-bar').select2();
    $('.update-size-bar').select2();
    //In-Date
    $(".in-date-2").datetimepicker({
      format: 'YYYY-MM-DD',
      showClear: true
    });
    $(".update-in-date-2").datetimepicker({
      format: 'YYYY-MM-DD',
      showClear: true
    });
    //
    $('.customer-bar').select2();
    $('.update-customer-bar').select2();
    
    var tasks = [], sizes = [];
    var p_material, f_material;

    var refreshTabEvent = function(){
      $('.material-panel').show();
      $.ajax({
        url: '/dashboard/material/material_task',
        type: 'POST',
        data: {
          ordername: ordername
        },
        success: function(data){
          if(data.isSuccess){
            //Add-Form
            $(".task-bar").select2("destroy");
            $('.task-bar').html("");
            $('.task-bar').append(
                '<option value="-1">Not Selected</option>'
            );

            tasks = data.list;
            var ret = [];
            for(var index = 0; index < tasks.length; index++) {
              if(!ret.includes(tasks[index].po)){
                $('.task-bar').append(
                  '<option value="' + tasks[index].po + '">' + tasks[index].po + '</option>'
                );
                ret.push(tasks[index].po);
              }
            };
            $(".task-bar").select2();

            //Update-Form
            $(".update-task-bar").select2("destroy");
            $('.update-task-bar').html("");
            $('.update-task-bar').append(
                '<option value="-1">Not Selected</option>'
            );              
            tasks = data.list;
            var ret = [];
            for(var index = 0; index < tasks.length; index++) {
              if(!ret.includes(tasks[index].po)){
                $('.update-task-bar').append(
                  '<option value="' + tasks[index].po + '">' + tasks[index].po + '</option>'
                );
              ret.push(tasks[index].po);
              }
            };
            $(".update-task-bar").select2();

            refreshTaskChangeEvent();
            loadSizeList();
          }else{
            alert('Cannot load Tasks.');
          }
        }
      })

      $('a[data-toggle="tab"]').off();
      $('a[data-toggle="tab"]').on('click', function(){
        p_material = $(this).data('product');
        f_material = $(this).data('finish');

        //Hide Add, Update Materail Form
        $('.add-material').hide();
        $('.update-material').hide();

        //Load Material In table
        
        $.ajax({
          url: '/dashboard/material/material_in_list',
          type: 'POST',
          data: {
            material: p_material?p_material:f_material,
            material_type: p_material?'1': '0',
            ordername: ordername,
            buyer: buyer
          },
          success: function(data){
            if(data.isSuccess){
              var tableData = [];
              for(var i = 0; i <  data.list.length; i++){
                for(var j = 0; j < sizes.length; j++){
                  if(sizes[j].id == data.list[i].size){
                    tableData.push([
                      data.list[i].po, data.list[i].color,  sizes[j].name, data.list[i].rcvd, data.list[i].ordernumber, data.list[i].loss, 
                      data.list[i].need, data.list[i].date, data.list[i].cname, data.list[i].invoice, data.list[i].quantity, data.list[i].note
                    ])
                  }
                }
              }                              
              $('.material-table').dataTable().fnClearTable();
              if(tableData.length > 0){
                $('.material-table').dataTable().fnAddData(tableData);
                $('.material-table').dataTable().fnDraw();
              }
              refreshMaterialTableEvent();
            }else{
              alert('Cannot load Material-In Table.');
            }
          }
        })
      })      
    }
    
    $(".add-color-bar").select2();
    $(".update-color-bar").select2();

    var refreshTaskChangeEvent = function(){
      //Add-Form
      $('.task-bar').on('change', function(){
        //Add-Form
        $(".add-color-bar").select2("destroy");
        $('.add-color-bar').html("");
        $('.add-color-bar').append(
            '<option value="-1">Not Selected</option>'
        );

        for(var i = 0; i < tasks.length; i++){
          if(tasks[i].po == $(this).val()){
            $('.add-color-bar').append(
              '<option value="'+tasks[i].color+'">'+tasks[i].colorname+'</option>'
            );
          }
        }
        $(".add-color-bar").select2();
      })

      //Update-Form
      $('.update-task-bar').on('change', function(){
        console.log('change');
        $(".update-color-bar").select2("destroy");
        $('.update-color-bar').html("");
        $('.update-color-bar').append(
            '<option value="-1">Not Selected</option>'
        );

        for(var i = 0; i < tasks.length; i++){
          if(tasks[i].po == $(this).val()){
            $('.update-color-bar').append(
              '<option value="'+tasks[i].color+'">'+tasks[i].colorname+'</option>'
            );
          }
        }
        $(".update-color-bar").select2();
      })
    }

    var sizelist;
    var loadSizeList = function(){
      $.ajax({
        url: '/dashboard/material/size_list',
        type: 'POST',
        data: {
          sizegroup: tasks[0].sizegroup
        },
        success: function(data){
          if(data.isSuccess){
            //Add - Form
            $(".size-bar").select2("destroy");
            $('.size-bar').html("");
            $('.size-bar').append(
                '<option value="-1">Not Selected</option>'
            );
            sizes = data.list;
            console.log(sizes);
            $.each(sizes, function(index, value) {
              $('.size-bar').append(
                '<option value="' + sizes[index].id + '">' + sizes[index].name + '</option>'
              );
            });
            $(".size-bar").select2();

            //Update - Form
            $(".update-size-bar").select2("destroy");
            $('.update-size-bar').html("");
            $('.update-size-bar').append(
              '<option value="-1">Not Selected</option>'
            );

            $.each(sizes, function(index, value) {
              $('.update-size-bar').append(
                '<option value="' + sizes[index].id + '">' + sizes[index].name + '</option>'
              );
            });
            $(".update-size-bar").select2();
            refreshSizeChangeEvent();
            $('.tab_0').click();
          }else{
            alert('Cannot load SizeGroup');
          }
        }
      })
    }

    var refreshSizeChangeEvent = function(){
      //Add-Form
      $('size-bar').off();
      $('.size-bar').on('change', function(){
        let index;
        for(var i = 0; i < sizes.length; i++){
          if(sizes[i].id == $('.size-bar').val()) index = i+1;
        }

        for(var i = 0; i < tasks.length; i++){
          if(tasks[i].po == $('.task-bar').val() && tasks[i].color == $('.add-color-bar').val()){            
            $('.order-number').val(tasks[i]['s'+index]);
            $('.need').val(tasks[i]['s'+index] * (100+Number(tasks[i].loss))/100);
            $('.order-loss').val(tasks[i]['s'+index] * (100+Number(tasks[i].loss))/100);
          }
        }
      })

      //Update-Form
      $('update-size-bar').off();
      $('.update-size-bar').on('change', function(){
        let index;
        for(var i = 0; i < sizes.length; i++){
          if(sizes[i].id == $('.update-size-bar').val()) index = i+1;
        }
        
        for(var i = 0; i < tasks.length; i++){
          if(tasks[i].po == $('.update-task-bar').val() && tasks[i].color == $('.update-color-bar').val()){            
            $('.update-order-number').val(tasks[i]['s'+index]);
            $('.update-need').val(tasks[i]['s'+index] * (100+Number(tasks[i].loss))/100);
            $('.update-loss').val(tasks[i]['s'+index] * (100+Number(tasks[i].loss))/100);
          }
        }
      })
    }

    $('.btn-add').on('click', function(){
      let po = $('.task-bar').val();
      let sizeindex = $('.size-bar').val();
      let rcvd = $('.rcvd').val();
      let in_date = $('.in-date-2').val();      
      let customer = $('.customer-bar').val();
      let invoice = $('.invoice').val();
      let quantity = $('.quantity').val();
      if(po == -1){
        alert('Please select PO');
        return;
      }else if(sizeindex == -1){
        alert('Please select Size');
        return;
      }

      for(var i = 0; i < tasks.length; i++){
        if(tasks[i].po == $('.task-bar').val() && tasks[i].color == $('.add-color-bar').val()){
          po = tasks[i].id;
        }
      }

      $.ajax({
        url: '/dashboard/material/material_in',
        type: 'POST',
        data: {
          po: po,
          material: p_material?p_material:f_material,
          materialtype: p_material?'1':'0',
          size: sizeindex,
          ordernumber: $('.order-number').val(),
          loss: $('.loss').val(),
          need: $('.need').val(),
          rcvd: rcvd,
          in_date: in_date,
          customer: customer,
          invoice: invoice,
          quantity: quantity,
          note: $('.note').val()
        },
        success: function(data){          
          if(data.isSuccess){
            var tableData = [];
            tableData.push([
              $('.task-bar').select2('data')[0].text, $('.add-color-bar').select2('data')[0].text, 
              $('.size-bar').select2('data')[0].text, rcvd, $('.order-number').val(), $('.order-loss').val(),
              $('.need').val(), in_date, $('.customer-bar').select2('data')[0].text, invoice, quantity, $('.note').val()
            ]);
            $('.material-table').dataTable().fnAddData(tableData);
            $('.material-table').dataTable().fnDraw();
            refreshMaterialTableEvent();
          }else{
            alert('RCVD must be unique.');
          }          
        }
      })
    });

    var row;
    var refreshMaterialTableEvent = function(){
      $('.rcvd').val('');
      $('.in-date-2').val('');
      $('.invoice').val('');
      $('.quantity').val('');

      $('.update-rcvd').val('');
      $('.update-in-date-2').val('');
      $('.update-invoice').val('');
      $('.update-quantity').val('');

      $('.material-table tbody tr').off();
      $('.material-table tbody tr').on('click', function(){
        $('.update-material').fadeIn();
        $('.add-material').fadeOut();

        row = $(".material-table").DataTable().row($(this));
        let po = $($(this).find('td')[0]).html();
        let color = $($(this).find('td')[1]).html();
        let size = $($(this).find('td')[2]).html();
        $.each(tasks, function(index, value) {
          if(po == tasks[index].po && color == tasks[index].colorname){
            $('.update-task-bar').val(tasks[index].po).trigger('change');
            $('.old-po').val(tasks[index].id);
          }
        });

        setTimeout(function(){
          $(".update-color-bar > option").each(function() {
            if(this.text == color){
              $('.update-color-bar').val(this.value).trigger('change');              
            }
          });

          $.each(sizes, function(index, value) {
            if(size == sizes[index].name){
              $('.update-size-bar').val(sizes[index].id).trigger('change');
              $('.old-size').val(sizes[index].id);
            }
          });
        }, 500);

        $('.update-rcvd').val($($(this).find('td')[3]).html());
        $('.old-rcvd').val($($(this).find('td')[3]).html());
        $('.update-in-date-2').val($($(this).find('td')[7]).html());
        $('.update-invoice').val($($(this).find('td')[9]).html());
        $('.update-quantity').val($($(this).find('td')[10]).html());
        $('.update-note').val($($(this).find('td')[11]).html());

        let customer = $($(this).find('td')[8]).html();
        $.each(allcustomers, function(index, value) {
          if(customer == allcustomers[index].name){
            $('.update-customer-bar').val(allcustomers[index].id).trigger('change');
          }
        });
      })
    }

    $('.update-button').on('click', function(){
      let po = $('.update-task-bar').val();
      let sizeindex = $('.update-size-bar').val();
      let rcvd = $('.update-rcvd').val();
      let in_date = $('.update-in-date-2').val();      
      let customer = $('.update-customer-bar').val();
      let invoice = $('.update-invoice').val();
      let quantity = $('.update-quantity').val();
      if(po == -1){
        alert('Please select PO');
        return;
      }else if(sizeindex == -1){
        alert('Please select Size');
        return;
      }

      for(var i = 0; i < tasks.length; i++){
        if(tasks[i].po == $('.update-task-bar').val() && tasks[i].color == $('.update-color-bar').val()){
          po = tasks[i].id;
        }
      }

      $.ajax({
        url: '/dashboard/material/material_in_update',
        type: 'POST',
        data: {
          oldpo: $('.old-po').val(),
          oldrcvd: $('.old-rcvd').val(),
          oldsize: $('.old-size').val(),
          po: po,
          material: p_material? p_material: f_material,
          materialtype: p_material?'1':'0',
          size: sizeindex,
          ordernumber: $('.update-order-number').val(),
          loss: $('.update-loss').val(),
          need: $('.update-need').val(),
          rcvd: rcvd,
          date: in_date,
          customer: customer,
          invoice: invoice,
          quantity: quantity,
          note: $('.update-note').val()
        },
        success: function(data){
          if(data.isSuccess){
            row.data([
              $('.update-task-bar').select2('data')[0].text, $('.update-color-bar').select2('data')[0].text, $('.update-size-bar').select2('data')[0].text, $('.update-rcvd').val(),
              $('.update-order-number').val(), $('.update-loss').val(), $('.update-need').val(), in_date, $('.update-customer-bar').select2('data')[0].text, invoice, quantity, $('.update-note').val()
            ]).draw();
            $('.update-material').fadeOut();
          }else{
            alert('Cannot save Material.');
          }

          refreshMaterialTableEvent();
        }
      })      
    })

    $('.remove').on('click', function(){
      let rcvd = $('.old-rcvd').val();
      let po = $('.old-po').val();
       $.ajax({
          url: '/dashboard/material/material_in_delete',
          type: 'POST',
          data: {
            rcvd: rcvd,
            po: po
          },
          success: function(data){
            if(data.isSuccess){
              row.remove();
              $('.material-table').dataTable().fnDraw();
              $('.update-material').fadeOut();
            }else{
              alert('Cannot remove Material In');
            }
          }
      })
    });
    