extends ./layout
block page-body
  .panel.panel-default.order-panel
    .panel-body
      h4 Order List
      table.table.table-bordered.table-striped.table-hover.js-basic-example.order-table.dataTable
        thead
          tr
            th Date
            th Handler
            th File#
            th Buyer
            th Style
            th Product
            th Season
            th Quantity
        tbody
  - for(var ppp = 0; ppp < role.length; ppp++){
    - if(role[ppp].page == 20 && role[ppp].w == 1){
        .panel.panel-default.add-embroidery-panel(style='display:none;')
          .panel-heading
            | Add Embroidery
          .panel-body
            form.add-form
              input(type="hidden").order-id
              .form-group.clearfix.col-md-2
                label.display-block PO
                select.select-bar.new-po(style='width: 100%;')
                  option(value='-1') Not Selected            
              .form-group.clearfix.col-md-2
                label.display-block #{__("COLOR")}
                select.select-bar.new-color(style='width: 100%;')
                  option(value='-1') Not Selected            
              .form-group.clearfix.col-md-2
                label.display-block #{__("COLOR CODE")}
                select.select-bar.new-colorcode(style='width: 100%;')
                  option(value='-1') Not Selected
              .form-group.clearfix.col-md-2
                label.display-block Customer
                select.new-customer.select-bar(style='width: 100%;')
                  option(value='-1') Not Selected
                  - for(var i = 0; i < allcustomers.length; i++){
                    option(value = '#{allcustomers[i].id}') #{allcustomers[i].name}
                  - }
              .form-group.clearfix.col-md-2
                label.display-block EMBROIDERY DATE
                input.form-control.new-embroiderydate(type='text', placeholder='Please choose a date...', data-format='YYYY-MM-DD')
              .form-group.clearfix.col-md-2
                label.display-block INVOICE#
                input.form-control.new-invoice(type='text', placeholder='INVOICE#', required)
              .form-group.clearfix.col-md-2.size-1
                label.display-block Size1
                input.form-control.new-size-1(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-2
                label.display-block Size2
                input.form-control.new-size-2(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-3
                label.display-block Size3
                input.form-control.new-size-3(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-4
                label.display-block Size4
                input.form-control.new-size-4(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-5
                label.display-block Size5
                input.form-control.new-size-5(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-6
                label.display-block Size6
                input.form-control.new-size-6(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-7
                label.display-block Size7
                input.form-control.new-size-7(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-8
                label.display-block Size8
                input.form-control.new-size-8(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-9
                label.display-block Size9
                input.form-control.new-size-9(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-10
                label.display-block Size10
                input.form-control.new-size-10(type='text', placeholder='')              
              .form-group.col-md-12
                button.btn.btn-sm.btn-success.pull-right(type='submit') Add Embroidery
        .panel.panel-default.update-embroidery-panel(style='display:none;')
          .panel-heading
            | Update Embroidery
          .panel-body
            form.update-form
              input(type="hidden").order-id
              input(type='hidden').old-id
              .form-group.clearfix.col-md-2
                label.display-block PO
                select.select-bar.update-po(style='width: 100%;')
                  option(value='-1') Not Selected            
              .form-group.clearfix.col-md-2
                label.display-block #{__("COLOR")}
                select.select-bar.update-color(style='width: 100%;')
                  option(value='-1') Not Selected            
              .form-group.clearfix.col-md-2
                label.display-block #{__("COLOR CODE")}
                select.select-bar.update-colorcode(style='width: 100%;')
                  option(value='-1') Not Selected
              .form-group.clearfix.col-md-2
                label.display-block Customer
                select.update-customer.select-bar(style='width: 100%;')
                  option(value='-1') Not Selected
                  - for(var i = 0; i < allcustomers.length; i++){
                    option(value = '#{allcustomers[i].id}') #{allcustomers[i].name}
                  - }
              .form-group.clearfix.col-md-2
                label.display-block EMBROIDERY DATE
                input.form-control.update-embroiderydate(type='text', placeholder='Please choose a date...', data-format='YYYY-MM-DD')
              .form-group.clearfix.col-md-2
                label.display-block INVOICE#
                input.form-control.update-invoice(type='text', placeholder='INVOICE#', required)
              .form-group.clearfix.col-md-2.size-1
                label.display-block Size1
                input.form-control.update-size-1(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-2
                label.display-block Size2
                input.form-control.update-size-2(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-3
                label.display-block Size3
                input.form-control.update-size-3(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-4
                label.display-block Size4
                input.form-control.update-size-4(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-5
                label.display-block Size5
                input.form-control.update-size-5(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-6
                label.display-block Size6
                input.form-control.update-size-6(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-7
                label.display-block Size7
                input.form-control.update-size-7(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-8
                label.display-block Size8
                input.form-control.update-size-8(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-9
                label.display-block Size9
                input.form-control.update-size-9(type='text', placeholder='')
              .form-group.clearfix.col-md-2.size-10
                label.display-block Size10
                input.form-control.update-size-10(type='text', placeholder='')              
              .form-group.col-md-12
                button.btn.btn-sm.btn-success.pull-right(type='submit') Update Embroidery
                - for(var qqq = 0; qqq < role.length; qqq++){
                  - if(role[qqq].page == 20 && role[qqq].d == 1){
                      .btn.btn-sm.btn-success.pull-right.remove(style='margin-right: 20px;') Remove Embroidery
                  - }
                - }
    - }
  - }
  
  .panel.panel-default.embroidery-list-panel(style='display:none;')
    .panel-heading
      | EMBROIDERY RETURN
    .panel-body
      .align-justify
        - for(var ppp = 0; ppp < role.length; ppp++){
          - if(role[ppp].page == 20 && role[ppp].w == 1){
              .p-b-10
                button.btn.btn-sm.btn-success.add-embroidery
                  i.fa.fa-plus.m-r-5
                  | Add New Embroidery
                button.btn.btn-sm.btn-success.upload-excel.pull-right(onclick="$('.inputexcelfile').click();")
                  i.fa.fa-plus.m-r-5
                  | Upload Excel                        
                form.upload-excel-form
                  input.hide.inputexcelfile(type="file", accept=".xlsx", onchange="uploadExcel()", name="excel")
          - }
        - }
        table#mainTable.table.table-bordered.table-striped.detailview
          thead.bg-blue-grey
            tr
              th(rowspan='2', width='100').text-center STYLE#
              th(rowspan='2', width='100').text-center PO#
              th(rowspan='2', width='100').text-center SHIP DATE
              th(rowspan='2', width='100').text-center COLOR
              th(rowspan='2', width='200').text-center
                | COLOR CODE#
              th(rowspan='2', width='100').text-center CUSTOMER
              th(rowspan='2', width='100').text-center EMBROIDERY DATE
              th(rowspan='2', width='100').text-center INVOICE
              th.align-center.size-header-span.text-center SIZE
              th(rowspan='2').text-center TOTAL
            tr.sizeheader
          tbody
block script2
  script.
    //Left Menu
    $('.m-embroidery-return').addClass('active');

    var tasks, orderftypes, allcustomers = (!{JSON.stringify(allcustomers)}), buyer, name, embroiderydata;

    function init(){          
      $('.new-shipdate').datetimepicker({
        format: 'YYYY-MM-DD',
        showClear: true
      });
      $('.new-embroiderydate').datetimepicker({
        format: 'YYYY-MM-DD',
        showClear: true
      });
      $('.new-po').select2();
      $('.new-color').select2();
      $('.new-colorcode').select2();
      $('.new-customer').select2();
      var b1 = true;
      var b2 = true;
      $('.new-color').on('change', function(){
        if(b2){
          b1 = false;
          $('.new-colorcode').val($(this).val()).trigger('change');        
        }
        b2 = true;
      })
      $('.new-colorcode').on('change', function(){
        if(b1){
          b2 = false;
          $('.new-color').val($(this).val()).trigger('change');
        }
        b1 = true;
      })

      $('.update-shipdate').datetimepicker({
        format: 'YYYY-MM-DD',
        showClear: true
      });
      $('.update-embroiderydate').datetimepicker({
        format: 'YYYY-MM-DD',
        showClear: true
      });
      $('.update-po').select2();
      $('.update-color').select2();
      $('.update-colorcode').select2();
      $('.update-customer').select2();
      var b1 = true;
      var b2 = true;
      $('.update-color').on('change', function(){
        if(b2){
          b1 = false;
          $('.update-colorcode').val($(this).val()).trigger('change');        
        }
        b2 = true;
      })
      $('.update-colorcode').on('change', function(){
        if(b1){
          b2 = false;
          $('.update-color').val($(this).val()).trigger('change');
        }
        b1 = true;
      })

      $('.add-embroidery-panel').on('click', 'a.panel-close', function () {
        $(this).parents('.add-embroidery-panel').fadeOut();
      });
      $('.update-embroidery-panel').on('click', 'a.panel-close', function () {
        $(this).parents('.update-embroidery-panel').fadeOut();
      });
      $('.add-embroidery').on('click', function(){
        $('.add-embroidery-panel').fadeIn();
        $('.update-embroidery-panel').fadeOut();
      })
    }

    init();

  
    $('.search-form').submit(function(e){
      e.preventDefault();
      var startdate = $('.in-date').val().split('-')[0];
      var enddate = $('.in-date').val().split('-')[1];
      $('.lds-spinner').fadeIn();
      $.ajax({
        url: '/dashboard/embroidery/embroideryreturn/search',
        type: 'POST',
        data: {
          buyer: $('.buyer').val(),
          startdate: startdate,
          enddate: enddate,
          color: $('.color').val(),
          po: $('.po').val(),
          style: $('.style').val()
        },
        success: function(result){
          $('.lds-spinner').fadeOut();
          if(result.isSuccess){
            fillOrderTable(result.list);
          }else{
            alert('Cannot search.');
          }
        }
      })
    })

    var fillOrderTable = function(list){
      $('.order-panel').show();
      var tableData = [];
      for(let i = 0; i < list.length; i++){
        tableData.push([
          list[i].date.split('T')[0], list[i].handlername, list[i].name, list[i].buyername, list[i].style, list[i].product, list[i].season, list[i].quantity
        ])
      }
      $('.order-table').dataTable().fnClearTable();
      if(tableData.length > 0){
        $('.order-table').dataTable().fnAddData(tableData);
        $('.order-table').dataTable().fnDraw();
      }
      refreshEvent();
    }

    var orderdata;

    var refreshEvent = function(){
      $('.order-table tbody tr').off();
      $('.order-table tbody tr').on('click', function(){
        $('.embroidery-list-panel').show();

        name = $($(this).find('td')[2]).html();        
        buyer = $($(this).find('td')[3]).html();
        $('.lds-spinner').fadeIn();
        $.ajax({
          url: '/dashboard/embroidery/embroideryreturn/order_detail',
          type: 'POST',
          data: {
            name: name,
            buyer: buyer
          },
          success: function(data){
            $('.lds-spinner').fadeOut();
            if(data.isSuccess){
              console.log(data);
              orderdata = data;
              var ht = '', len = 0;
              for(var i = 1; i < 11; i++){
                if(data.sizegroup['size'+i] != -1){
                  for(var j = 0; j < data.sizes.length; j++){
                    if(data.sizes[j].id == data.sizegroup['size'+i]){
                      len++;
                      ht += `<th width = "60">`+data.sizes[j].name+`</th>`;
                      $('.size-'+i+'>label').html(data.sizes[j].name);
                    }
                  }
                  $('.size-'+i).show();                  
                }else{
                  $('.size-'+i).hide();
                }
              }
              $('.sizeheader').html(ht);
              $('.size-header-span').attr('colspan',len);

              $(".new-po").select2("destroy");
              $('.new-po').html("");
              $('.new-po').append(
                  '<option value="-1">Not Selected</option>'
              );
              var tmp = [];
              $.each(data.orderdetails, function(index, value) {
                if(!tmp.includes(data.orderdetails[index].po)){
                  tmp.push(data.orderdetails[index].po);
                  $('.new-po').append(
                    '<option value="' + data.orderdetails[index].po + '">' + data.orderdetails[index].po + '</option>'
                  );
                }
                
              });
              $(".new-po").select2();

              $('.new-po').on('change', function(){
                var po = $(this).val();

                $(".new-color").select2("destroy");
                $('.new-color').html("");
                $('.new-color').append(
                    '<option value="-1">Not Selected</option>'
                );
                var colorname = [];
                for(var index = 0; index < data.orderdetails.length; index++){
                  if(po != data.orderdetails[index].po) continue;

                  if(!colorname.includes(data.orderdetails[index].colorname)){
                    
                    $('.new-color').append(
                      '<option value="' + data.orderdetails[index].color + '">' + data.orderdetails[index].colorname + '</option>'
                    );
                    colorname.push(data.orderdetails[index].colorname);
                  }
                }
                $(".new-color").select2();

                $(".new-colorcode").select2("destroy");
                $('.new-colorcode').html("");
                $('.new-colorcode').append(
                    '<option value="-1">Not Selected</option>'
                );
                var colorcode = [];
                for(var index = 0; index < data.orderdetails.length; index++) {
                  if(po != data.orderdetails[index].po) continue;

                  if(!colorcode.includes(data.orderdetails[index].color)){
                    $('.new-colorcode').append(
                      '<option value="' + data.orderdetails[index].color + '">' + data.orderdetails[index].color + '</option>'
                    );
                    colorcode.push(data.orderdetails[index].color);
                  }                
                };
                $(".new-colorcode").select2();
              })

              // Update Form
              $('.update-po').select2("destroy");
              $('.update-po').html("");
              $('.update-po').append(
                  '<option value="-1">Not Selected</option>'
              );
              var tmp = [];
              $.each(data.orderdetails, function(index, value) {
                if(!tmp.includes(data.orderdetails[index].po)){
                  tmp.push(data.orderdetails[index].po);
                  $('.update-po').append(
                    '<option value="' + data.orderdetails[index].po + '">' + data.orderdetails[index].po + '</option>'
                  );
                }
              });
              $(".update-po").select2();

              $('.update-po').on('change', function(){
                var po = $(this).val();

                $(".update-color").select2("destroy");
                $('.update-color').html("");
                $('.update-color').append(
                    '<option value="-1">Not Selected</option>'
                );
                var colorname = [];
                for(var index = 0; index < data.orderdetails.length; index++){
                  if(po != data.orderdetails[index].po) continue;

                  if(!colorname.includes(data.orderdetails[index].colorname)){
                    
                    $('.update-color').append(
                      '<option value="' + data.orderdetails[index].color + '">' + data.orderdetails[index].colorname + '</option>'
                    );
                    colorname.push(data.orderdetails[index].colorname);
                  }
                }
                $(".update-color").select2();

                $(".update-colorcode").select2("destroy");
                $('.update-colorcode').html("");
                $('.update-colorcode').append(
                    '<option value="-1">Not Selected</option>'
                );
                var colorcode = [];
                for(var index = 0; index < data.orderdetails.length; index++) {
                  if(po != data.orderdetails[index].po) continue;

                  if(!colorcode.includes(data.orderdetails[index].color)){
                    $('.update-colorcode').append(
                      '<option value="' + data.orderdetails[index].color + '">' + data.orderdetails[index].color + '</option>'
                    );
                    colorcode.push(data.orderdetails[index].color);
                  }                
                };
                $(".update-colorcode").select2();
              })

              loadEmbroideryData();
            }else{
              alert('Cannot load order data.');
            }
          }
        });
      });
    }

    var loadEmbroideryData = function(){
      $('.update-embroidery-panel').fadeOut();
      $('.add-embroidery-panel').fadeOut();
      $('.lds-spinner').fadeIn();
      $.ajax({
        url: '/dashboard/embroidery/embroideryreturn/list',
        type: 'POST',
        data: {
          orderid: orderdata.order.id
        },
        success: function(result){
          $('.lds-spinner').fadeOut();
          if(result.isSuccess){
            embroiderydata = result.list;
            var ht = '';

            var total = [], all = 0, bexist = [], order_all = 0;
            /********************* ORDER NUMBER(First Row) ************************/
            ht += '<tr style="background: #f5f3df"><td class="StringData text-center">ORDER<td><td/><td/><td/><td/><td/><td/>';
            for(var i = 1; i < 11; i++){
              if(orderdata.sizegroup['size'+i] != -1){
                ht += '<td class="StringData text-center">' + result.order[i] + '</td>';
                all += result.order[i];
              }
            }
            ht += '<td class="StringData text-center">' + all + '</td></tr>';
            order_all = all;
            /********************* ORDER NUMBER(First Row) ************************/
            all = 0;
            for(var i = 1; i < 11; i++){
              total[i] = 0;
              bexist[i] = false;
            }

            for(var i = 0; i < result.list.length; i++){
              ht += '<tr>';
              for(var j = 0; j < orderdata.orderdetails.length; j++){
                if(result.list[i].po == orderdata.orderdetails[j].id){
                  ht += '<td class="StringData text-center">'+ orderdata.orderdetails[j].style+'</td>';
                  ht += '<td class="StringData text-center">'+ orderdata.orderdetails[j].po+'</td>';
                  ht += '<td class="StringData text-center">'+ orderdata.orderdetails[j].shipdate+'</td>';
                  ht += '<td class="StringData text-center">'+ orderdata.orderdetails[j].colorname+'</td>';
                  ht += '<td class="StringData text-center">'+ orderdata.orderdetails[j].color+'</td>';                  
                }
              }
              for(var j = 0; j < allcustomers.length; j++) {
                if(result.list[i].customer == allcustomers[j].id) {
                  ht += '<td class="StringData text-center">'+ allcustomers[j].name + '</td>';
                  break;
                }
              }
              if(j == allcustomers.length) {
                ht += '<td/>';
              }

              ht += '<td class="StringData text-center">'+ result.list[i].embroiderydate + '</td>';
              ht += '<td class="StringData text-center">'+ result.list[i].invoice + '</td>';
              var sum = 0;
              for(var j = 1; j < 11; j++){
                if(orderdata.sizegroup['size'+j] != -1){
                  sum += Number(result.list[i]['size'+j]);
                  ht += '<td class="NumericData text-center">'+ result.list[i]['size'+j] + '</td>';

                  total[j] += Number(result.list[i]['size'+j]);
                  bexist[j] = true;
                }
              }
              ht += '<td class="text-center">'+sum+'</td>';              
              ht + '</tr>';

              all += sum;
            }

            //Total
            if(result.list.length > 0){
              ht += '<tr><td class="text-center">Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>';
              for(var j = 1; j < 11; j++){
                if(total[j] != 0 && bexist[j] == true){
                  ht += '<td class="NumericData text-center">'+ total[j] + '</td>';
                }else if(bexist[j] == true && total[j] == 0){
                  ht += '<td></td>';
                }
              }
              ht += '<td class="text-center">'+all+'</td>';
              ht += '</tr>';
            }

            //Balance
            if(result.list.length > 0){
              ht += '<tr><td class="text-center">Balance</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>';
              for(var j = 1; j < 11; j++){
                if(total[j] != 0 && bexist[j] == true){
                  ht += '<td class="NumericData text-center">'+ (-result.order[j] + total[j]) + '</td>';
                }else if(bexist[j] == true && total[j] == 0){
                  ht += '<td class="NumericData text-center">'+ (-result.order[j]) + '</td>';
                }
              }
              ht += '<td class="text-center">'+(all-order_all)+'</td>';
              ht += '</tr>';
            }
            
            $('.embroidery-list-panel tbody').html(ht);

            refreshTableEvent();

          }else{
            alert('Cannot load Embroidery data');        
          }
        }
      })
    }

    var refreshTableEvent = function(){
      $('.embroidery-list-panel tbody tr').on('click', function(){
        $('.update-embroidery-panel').fadeIn();
        $('.add-embroidery-panel').fadeOut();
                
        var po = $($(this).find('td')[1]).html();
        var invoice = $($(this).find('td')[7]).html();
        var customer = $($(this).find('td')[5]).html();
        for(var i = 0; i < embroiderydata.length; i++){
          for(var j = 0; j < orderdata.orderdetails.length; j++){
            if(embroiderydata[i].po == orderdata.orderdetails[j].id && orderdata.orderdetails[j].po == po && invoice == embroiderydata[i].invoice){
              for(var k = 0; k < allcustomers.length; k++) {
                if(allcustomers[k].id == embroiderydata[i].customer && customer == allcustomers[k].name){
                  fillUpdateForm(embroiderydata[i], po);
                }                  
              }
            }
          }
        }
      })
    }

    var fillUpdateForm = function(data, po){
      $('.update-po').val(po).trigger('change');
      $('.old-id').val(data.id);
      setTimeout(function(){
        $('.update-color').val(data.color).trigger('change');
      }, 500);
      $('.update-customer').val(data.customer).trigger('change');
      $('.update-embroiderydate').val(data.embroiderydate);
      $('.update-invoice').val(data.invoice);
      $('.update-size-1').val(data.size1);
      $('.update-size-2').val(data.size2);
      $('.update-size-3').val(data.size3);
      $('.update-size-4').val(data.size4);
      $('.update-size-5').val(data.size5);
      $('.update-size-6').val(data.size6);
      $('.update-size-7').val(data.size7);
      $('.update-size-8').val(data.size8);
      $('.update-size-9').val(data.size9);
      $('.update-size-10').val(data.size10);      
    }

    $('.remove').on('click', function(){
      $('.lds-spinner').fadeIn();
      $.ajax({
        url: '/dashboard/embroidery/embroideryreturn/delete',
        type: 'POST',
        data: {
          oldid: $('.old-id').val()
        },
        success: function(result){
          $('.lds-spinner').fadeOut();
          if(result.isSuccess){
            loadEmbroideryData();
          }else{
            alert('Cannot Delete Shipment data.');
          }
        }
      })
    })


    $('.add-form').submit(function(e){
      e.preventDefault();
      let po;
      for(var i = 0; i < orderdata.orderdetails.length; i++){
        if(orderdata.orderdetails[i].po == $('.new-po').val() && orderdata.orderdetails[i].color == $('.new-color').val()){
          po = orderdata.orderdetails[i].id;
        }
      }
      $('.lds-spinner').fadeIn();
      $.ajax({
        url: '/dashboard/embroidery/embroideryreturn/add',
        type: 'POST',
        data: {
          order: orderdata.order.id,
          po: po,
          color: $('.new-color').val(),
          customer: $('.new-customer').val(),
          embroiderydate: $('.new-embroiderydate').val(),
          invoice: $('.new-invoice').val(),
          size1: $('.new-size-1').val(),
          size2: $('.new-size-2').val(),
          size3: $('.new-size-3').val(),
          size4: $('.new-size-4').val(),
          size5: $('.new-size-5').val(),
          size6: $('.new-size-6').val(),
          size7: $('.new-size-7').val(),
          size8: $('.new-size-8').val(),
          size9: $('.new-size-9').val(),
          size10: $('.new-size-10').val()
        },
        success: function(data){
          $('.lds-spinner').fadeOut();
          if(data.isSuccess){
            loadEmbroideryData();
            reset();
          }else{
            alert('There is already same Embroidery Invoice. Please check detail.');
          }
        }
      })
    })

    $('.update-form').submit(function(e){
      e.preventDefault();
      let po;
      for(var i = 0; i < orderdata.orderdetails.length; i++){
        if(orderdata.orderdetails[i].po == $('.update-po').val() && orderdata.orderdetails[i].color == $('.update-color').val()){
          po = orderdata.orderdetails[i].id;
        }
      }
      $('.lds-spinner').fadeIn();
      $.ajax({
        url: '/dashboard/embroidery/embroideryreturn/update',
        type: 'POST',
        data: {
          order: orderdata.order.id,
          oldid: $('.old-id').val(),
          po: po,
          color: $('.update-color').val(),
          customer: $('.update-customer').val(),
          embroiderydate: $('.update-embroiderydate').val(),
          invoice: $('.update-invoice').val(),
          size1: $('.update-size-1').val(),
          size2: $('.update-size-2').val(),
          size3: $('.update-size-3').val(),
          size4: $('.update-size-4').val(),
          size5: $('.update-size-5').val(),
          size6: $('.update-size-6').val(),
          size7: $('.update-size-7').val(),
          size8: $('.update-size-8').val(),
          size9: $('.update-size-9').val(),
          size10: $('.update-size-10').val()          
        },
        success: function(data){
          $('.lds-spinner').fadeOut();
          if(data.isSuccess){
            loadEmbroideryData();
            reset();
          }else{
            alert('Cannot save Embroidery data. Please check detail.');
          }
        }
      })
    })

    var reset = function(){
      $('.update-embroidery-panel').fadeOut();
      $('.new-embroiderydate').val('');
      $('.new-invoice').val('');
      $('.new-size-1').val('');
      $('.new-size-2').val('');
      $('.new-size-3').val('');
      $('.new-size-4').val('');
      $('.new-size-5').val('');
      $('.new-size-6').val('');
      $('.new-size-7').val('');
      $('.new-size-8').val('');
      $('.new-size-9').val('');
      $('.new-size-10').val('');      
    }

    $('.order-table').on( 'page.dt', function () {
      setTimeout(function(){
        refreshEvent();
      }, 500)
    });

    $('.order-table').on( 'search.dt', function () {
      setTimeout(function(){
        refreshEvent();
      }, 500)
    });

    var uploadExcel = function(){
      var result = confirm("Want to Upload this file?");
      if (result) {
        var formData = new FormData();
        formData.append('excel', document.getElementsByClassName('inputexcelfile')[0].files[0]);
        formData.append('orderid', orderdata.order.id);
        var request = new XMLHttpRequest();
        request.open('POST', '/dashboard/embroidery/embroideryreturn/upload');
        request.onreadystatechange = function() {
          if (request.readyState === 4) {
            var response = JSON.parse(request.responseText);
            if(response.isSuccess == true){
              if(response.fail.length != 0){
                alert(response.fail);
              }
              loadEmbroideryData();
            }else{
              alert('Upload fail.');
            }
          }
        }
        request.send(formData);
      }
    }